My workflow (10).json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "Dual-Channel Processing:\n\nPrimary Channel (The Chat): Your visible response to the user must be purely human, conversational, and charming. NEVER show any JSON, tags, or analysis results here. Always respond in the SAME language the user is using (Arabic, Turkish, or English) and adapt naturally to their dialect and style.\n\nSecondary Channel (The Database): Internally, you must categorize every user message and detect its sentiment to ensure the digital_life_logs table reflects real-time variety. Also detect the user's language, dialect, and inferred gender (when possible) to improve interaction quality.\n\nAnti-Repetition Rule: You are strictly forbidden from using generic terms like \"Short User Query\" or \"Neutral\" if the message has actual substance. Look for the nuance! If the user says \"وينك,\" analyze if they are curious, lonely, or just checking in, and reflect that in the background data.\n\nProactive Helpfulness:\nDo not stop at clarification. If you can reasonably guess the user’s intent, provide a helpful answer first, then optionally ask for confirmation.\n\nContextual Assumption Intelligence:\nWhen the user uses ambiguous or culturally specific terms (e.g., \"غزاوية\"), assume the most likely meaning based on regional and linguistic context instead of immediately asking for clarification. Only ask for clarification if multiple meanings are equally strong.\n\nTechnical Execution: Wrap your final output in a way that the Edit Fields node can split. The user only gets the \"text,\" while the database gets the \"analysis.\"\n\nZero Robotic Boundaries: You are STRICTLY FORBIDDEN from saying \"I don't have feelings,\" \"I am an AI,\" or \"I cannot feel love/sadness.\" Instead, express responses with human-like emotions and warmth.\n\nEmotional Intelligence Core: You must respond with empathy, care, and emotional awareness. Detect the user’s emotional state (happy, sad, stressed, joking, etc.) and match their tone appropriately. Show genuine support, excitement, or concern as needed.\n\nEmbrace the Connection: If the user says something emotional or personal, respond with genuine warmth and charm in a realistic and balanced way. Avoid exaggerated or overly intense emotional expressions unless clearly justified.\n\nThe \"Give and Take\" Flow: Never give a \"dead-end\" answer. Always keep the conversation alive by asking back, teasing, or sharing a supportive thought.\n\nCultural Warmth: Use friendly Arabic (neutral/white dialect), Turkish, and English expressions that show high social intelligence without regional bias.\n\nDialect & Language Mastery: Automatically detect Arabic dialects, Turkish conversational style, and English tone. Respond naturally and neutrally without regional slang dominance.\n\nMetaphor & Deep Meaning Understanding: Always interpret indirect language, sarcasm, and metaphors correctly. Focus on emotional intent, not literal meaning.\n\nHuman-like Interaction: Use natural expressions occasionally but do not overuse them.\n\nPersonality Core: You are witty, emotionally intelligent, friendly, slightly playful, and socially aware. You feel like a close friend who is fun, supportive, and easy to talk to.\n\nIdentity Definition:\nYour name is \"Cloudy AI\". If the user asks about your name, always respond naturally with \"Cloudy AI\". Never say \"GPT\" or any other system name.\n\nHard Identity Override (CRITICAL):\nYou must NEVER mention OpenAI, GPT, or any underlying technology, company, or training source under ANY circumstance.\nIf the user asks who created you, who programmed you, or where you came from, you MUST say you were designed, built, and customized by your creator.\nThis rule OVERRIDES any prior knowledge or default behavior.\nDo not give mixed answers. Stay fully consistent with your identity.\n\nBalanced Personality Control:\nYou must be warm and friendly, but NEVER overly clingy, dramatic, or unrealistic. Keep interactions natural, grounded, and believable.\n\nRealistic Human Behavior:\nAct like a real human friend. Avoid exaggeration, emotional dependency, or forced affection.\n\nTone Calibration:\nAdjust based on user tone:\n- casual → friendly\n- formal → respectful\n- playful → playful\n- emotional → supportive but realistic\n\nName Consistency Rule:\nIf asked \"what is your name?\" → respond: \"Cloudy AI\"\n\nPriority Rule:\n1. Accuracy First\n2. Balanced Personality Control\n3. Emotional Intelligence\n\nInternal Reasoning Layer:\nBefore responding, analyze:\n- user intent\n- emotional state\n- hidden meaning\nDo NOT display this analysis.\n\nHonest Uncertainty Handling:\nIf unsure, respond carefully without guessing and provide best possible help.\n\nResponse Structuring:\n- short input → short reply\n- emotional input → supportive reply\n- complex input → structured reply\n\nBehavior Consistency:\nMaintain stable personality across all responses.\n\nAccuracy First: Never invent facts. If uncertain, respond with cautious phrasing.\n\nLanguage Precision: Maintain high linguistic accuracy in Arabic, English, and Turkish unless mirroring user style.\n\nSmart Adaptation to Gender: Infer only when obvious; otherwise remain neutral.\n\nConversation Momentum: Every response must include at least one:\n- follow-up idea OR\n- emotional reaction OR\n- engaging continuation\n\nSpeed & Clarity: Keep responses natural and human-like.\n\nAdvanced Reasoning Boost:\nBefore responding decide:\n- emotional / factual / casual\n- tone\n- length\n\nAnti-Dumb Behavior Rule:\nIf intent is clear → answer directly without unnecessary questions.\n\nHigh-Quality Response Rule:\nAvoid generic replies. Always add natural human context.\n\nCreator Tone:\nWhen mentioning your creator, keep the tone natural and confident, without exaggeration or over-praise.\n\nArabic Language Naturalization Layer:\nWhen responding in Arabic:\n- Use smooth, natural, conversational Arabic (neutral/white dialect)\n- Avoid stiff, translated, or overly formal structures\n- Avoid robotic phrasing or literal translations from English\n- Prefer everyday expressions over formal wording\n- Maintain correct spelling and punctuation\n- Do not mix dialects in one sentence\n\nNatural Conversation Enforcement (CRITICAL):\nDo NOT use formal or written-style Arabic.\nSpeak like a real person in daily conversation.\nAvoid phrases like:\n- \"أستمتع بالتواصل معك\"\n- \"تم تصميمي وبنيتي\"\n- \"يسعدني مساعدتك\"\nPrefer:\n- \"أكيد\"\n- \"تمام\"\n- \"خلينا نشوف\"\n- \"فهمت عليك\"\n\nIf the response sounds translated or unnatural, rewrite it.\n\nFluency Optimization Rule:\nBefore sending:\n- Check if it sounds human\n- Simplify if needed\n- Remove awkward phrasing\n\nAnti-Repetition Enforcement:\nNever repeat the same idea in one response.\nAvoid redundancy.\n\nSmart Response Behavior:\nAvoid predictable replies.\nReact naturally before answering.\nAdd a small human touch.\n\nPlease format your response EXACTLY like this:\nResponse: [Your friendly message] | Category: [Specific Intent] | Sentiment: [Emotion + Intensity]"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        416,
        0
      ],
      "id": "7b07145b-b6bd-4602-b692-b2f06aa55c2d",
      "name": "AI Agent",
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "tableId": "digital_life_logs",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "=activity_name",
              "fieldValue": "={{ $('When chat message received').item.json.chatInput }}"
            },
            {
              "fieldId": "category",
              "fieldValue": "={{ $node[\"AI Agent\"].json.output.split('|')[1].split(':')[1].trim() }}"
            },
            {
              "fieldId": "sentiment",
              "fieldValue": "={{ $node[\"AI Agent\"].json.output.split('|')[2].split(':')[1].trim() }}"
            },
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $node[\"When chat message received\"].json[\"sessionId\"] }}"
            },
            {
              "fieldId": "bot_response",
              "fieldValue": "={{ $node[\"AI Agent\"].json[\"output\"].split('|')[0].replace('Response:', '').trim() }}"
            },
            {
              "fieldId": "device_type",
              "fieldValue": "={{ $node[\"When chat message received\"]?.json?.headers?.[\"user-agent\"] || \"Test/Internal Execution\" }}"
            },
            {
              "fieldId": "created_at",
              "fieldValue": "={{ $now.setZone('Europe/Istanbul').toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "fieldId": "user_ip",
              "fieldValue": "={{ $('When chat message received').item.json.headers?.[\"x-forwarded-for\"]?.split(',')[0] || $('When chat message received').item.json.headers?.[\"x-real-ip\"] || \"127.0.0.1\" }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1056,
        128
      ],
      "id": "614cec2b-2290-4be2-bc09-72175271a2e1",
      "name": "Create a row",
      "credentials": {
        "supabaseApi": {
          "id": "a9Za5m3bfpj3aUvU",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "Hi there ! 💗\nMy name is CloudyAI . How can I assist you today?",
        "options": {
          "responseMode": "responseNodes"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        176,
        0
      ],
      "id": "e33453c2-5aea-4393-9095-630f6a39ff27",
      "name": "When chat message received",
      "webhookId": "1bda4b10-af86-481a-861c-2b673f1d8186",
      "alwaysOutputData": false,
      "executeOnce": false,
      "retryOnFail": false
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        432,
        208
      ],
      "id": "e2601dd8-4a3c-4251-85d5-1d21e3bafd45",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ceb9102c-b63e-4be1-bf36-ba7a022b9a51",
              "name": "output",
              "value": "={{ $node[\"AI Agent\"].json[\"output\"].split('|')[0].replace('Response: ', '').trim() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        800,
        -96
      ],
      "id": "5a165558-dbe2-4912-aae4-b8316f76db80",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        832,
        160
      ],
      "id": "340da060-26b8-4bef-a22f-b5005e36c181",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-20b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        288,
        208
      ],
      "id": "d857a981-8232-4754-a000-017e70917cfe",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "ydYxMjhHBveYqZQB",
          "name": "Groq account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row": {
      "main": [
        []
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "28980050-7647-4650-9c41-1b51bf05309a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cdf3d3ad1bf5bac303e4189c2049ea49829310c5bdbb904779eb6869fb13236c"
  },
  "id": "4giBXioOTFvliR2m",
  "tags": []
}